---
title: Crypto Seed Accountancy Platform
layout: home
---

<div class="content first">
{% capture header %}
# CSAP <img src="img/csap.svg" alt="csap" align="left">

<img style="display:none;" src="img/csap-token2.png">

### Crypto Seed Accountancy Platform

The right way to bootstrap your business ...

## "All work will be rewarded" 

{% endcapture %}
{{ header | markdownify }}
</div><br><div class="content">

{% capture future %}

This is a investment to the future,
we have a team already fully functional and we don't want the financial aspect
to hold the execution of our project,
so here is how we set things up:

1) each individual contribution to the team effort is acknowledge and is accounted for with a monetary creation,
these minted cryptocurrencies called "seeds" are the measure of the energy and effort infused in the project.

The monetary mass of these seeds represent the "work-already-done" in the startup
and is directly linked to the future value of enterprise.

2) we open up this "work-done" for sale to investors which will get a convertible currency once the project hit the market.

3) this approach give a total confidence in the team where individual are not afraid anymore to get involve, as they know they
will be recognized for their effort.

4) once the company makes some revenues, profit is distributed to the team according to their seeds balance,
and each seeds is convertible into fiat money at the investment market price .


Don't hesitate to [CSAP](video5.html) your project ...  [michelc@csap.ml](mailto:michelc@csap.ml)

Now you can buy past or future work-hours on any projects run by our partners.

{% endcapture %}
{{ future | markdownify }}
</div><br><div class="content">
{% capture ads %}
## CSAP Video Teaser
{{ site.data.video5.VNAME }}
{% endcapture %}
{{ ads | markdownify }}
<a href=video5.html>{% include csapclip.htm %}</a>
</div>
</div><br><div class="content">

{% capture how %}
### How does it work ?

You simple add you working time on the [CSAP calendar][1], and you automatically earn token,
you can later use within the CSAP economic zone.

Check our [presentation][2] :
[csap™.pdf][d1],
[csap™.odp][d2],
[csap™.ppt][d3].

[1]: http://timebank.ga/calendar3/
[2]: http://cloudflare-ipfs.com/ipfs/QmdBGS9g8FNubt9juFRa8CM7V1EtLgaUTWoA57jmyhMuRw
[d1]: docs/csapTM.pdf
[d2]: docs/csapTM.odf
[d3]: docs/csapTM.ppt

{% endcapture %}
{{ how | markdownify }}
</div>
</div><br><div class="content">
{% include video5.htm %}
</div>
