<video controls="controls"><!-- width="560" height="315" -->
<source src="https://cloudflare-ipfs.com/ipfs/QmeRQZruSteZnZ82tcezVWmfrcds9AqtK54sF2HKLHEwLQ" type="video/mp4">
<source src="https://ipfs.blockringtm.ml/ipfs/{{site.data.video5.QM58}}" type="video/mp4">
<source src="{{site.data.video5.VNAME}}.mp4" type="video/mp4">
<source src="http://dweb.link/ipfs/{{site.data.video5.QM58}}" type="video/mp4">
<source src="https://hardbin.com/ipfs/{{site.data.video5.QM58}}" type="video/mp4">

<source src="https://gateway.ipfs.io/ipfs/{{site.data.video5.QM58}}" type="video/mpeg">
<source src="https://ipns.co/ipfs/{{site.data.video5.QM58}}" type="video/mpeg">
<source src="http://127.0.0.1:8080/ipfs/{{site.data.video5.QM58}}" type="video/mp4">
<!source src="CSAP-9257179_3f3ca4c7e7ba4aae1e41e114b407ed27c14c54b5-wm.mp4" type="video/mp4">
</video>
